<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buildyouragent.mapper.AgentMapper">

    <resultMap id="BaseResultMap" type="com.buildyouragent.domain.entity.Agent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="systemPrompt" column="system_prompt" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="toolIds" column="tool_ids" jdbcType="VARCHAR"/>
            <result property="knowledgeIds" column="knowledge_ids" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        description,system_prompt,create_time,
        update_time,tool_ids,knowledge_ids
    </sql>
</mapper>
